<debug-transition>
  <div id="hud-debug">
    <table class="hud-debug-main-table">
      <tr>
        <td class="hud-debug-category">
          Scene
        </td>
        <td>
          <table class="hud-debug-main-table-content">
            <tr class="hud-debug-table-tr-content">
              <td>Current scene id</td>
              <td>{{ currentSceneId }}</td>
            </tr>
            <tr class="hud-debug-table-tr-content">
              <td>Scenes</td>
              <td>{{ scenes.length }}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table class="hud-debug-config-table">
      <tree class="item" :model="treeDatas"></tree>
    </table>
  </div>
</debug-transition>