<debug-transition>
  <div id="hud-debug">
    <table class="hud-debug-main-table">
      <tr>
        <td class="hud-debug-category">
          Scene
        </td>
        <td class="hud-debug-content">
          <table class="hud-debug-sub-table">
            <tr>
              <td>Current scene id</td>
              <td>{{ currentSceneId }}</td>
            </tr>
            <tr>
              <td>Scenes</td>
              <td>{{ scenes.length }}</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="hud-debug-category">
          Config
        </td>
        <td class="hud-debug-content">
          <table class="hud-debug-sub-table">
            <tr>
              <td>
                Debug
              </td>
              <td>
                {{ config.debug }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</debug-transition>