#hud-debug {
  position: absolute;
  bottom: 10px;
  left: 10px;

  pointer-events: all;

  font-size: 10px;
}

table.hud-debug-main-table td,
table.hud-debug-config-table td {
  padding-right: 5px;
  padding-bottom: 4px;
}

.hud-debug-category {
  text-align: right;

  color: darken($text-color, 25%);
}

table.hud-debug-main-table-content,
table.hud-debug-config-table td:first-child:not(.hud-debug-category) {
  padding-left: 5px;

  color: lighten($text-color, 25%);
  border-left: 1px solid lighten($text-color, 50%);

  font-style: italic;
}

table.hud-debug-config-table td:not(:first-child) {
  padding-top: 5px;
}

.hud-debug-config-table-button {
  cursor: pointer;
}
