<div id="hud">
  <template v-if="isLoading">
    <loader :percentage="loadingPercentage"></loader>
  </template>
  <template v-else>
    <debug :current-scene-id="currentSceneId" :scenes="scenes" v-if="debug"></debug>

    <template v-if="showIntro">
      <intro></intro>
    </template>
  </template>

  <template v-if="speechOverlayVisible">
    <speech-overlay :text="speechOverlayText"></speech-overlay>
  </template>

  <template v-if="sceneSpeechHelperVisible">
    <scene-speech-helper :text="sceneSpeechHelperText"></scene-speech-helper>
  </template>
</div>
